.stat-title, h6 {
  width: inherit;
  text-align: center;
  background-color: bisque;
  padding: .5em;
}

.stat-title {
  margin: 0;
}

h6 {
  margin-bottom: 2em;
}

.skill-list {
  text-align: center;
}

.skill-list > p {
  margin: 2%;
}