h2, h6 {
  text-align: center;
  background-color: bisque;
  padding: .5em;
}

h2 {
  margin: 0;
}

h6 {
  margin-bottom: 5%;
}

.skill-list {
  text-align: center;
}

.skill-list > p {
  margin: 2%;
}